.container
  %h1
    Edit Account Details
  = form_for(current_user) do |user_form|
    = user_form.fields_for :person do |person_form|
      .form-group.row
        .col-sm-4
          = person_form.label :first_name
        .col-sm-8
          .col-sm-8
            = person_form.text_field :first_name, class: "form-control col-sm-8", placeholder: 'dunno'
      .form-group.row
        .col-sm-4
          = person_form.label :last_name
        .col-sm-8
          .col-sm-8
            = person_form.text_field :last_name, class: "form-control col-sm-8"
    .form-group.row
      .col-sm-4
        = user_form.label :email
      .col-sm-8
        .col-sm-8
          = user_form.text_field :email, class: "form-control col-sm-8"
    = user_form.fields_for :phone_number do |phone_form|
      .form-group.row
        .col-sm-4
          = phone_form.label :number
        .col-sm-8
          .col-sm-8
            = phone_form.text_field :number, class: "form-control col-sm-8"
      .form-group.row
        .col-sm-4
          = phone_form.label :phone_number_type
        .col-sm-8
          .col-sm-8
            = phone_form.text_field :phone_number_type, class: "form-control col-sm-8"
    = user_form.fields_for :address do |addr_form|
      .form-group.row
        .col-sm-4
          = addr_form.label :street_address_1
        .col-sm-8
          .col-sm-8
            = addr_form.text_field :street_address_1, class: "form-control col-sm-8"
      .form-group.row
        .col-sm-4
          = addr_form.label :street_address_2
        .col-sm-8
          .col-sm-8
            = addr_form.text_field :street_address_2, class: "form-control col-sm-8"
      .form-group.row
        .col-sm-4
          = addr_form.label :city
        .col-sm-8
          .col-sm-8
            = addr_form.text_field :city, class: "form-control col-sm-8"
      .form-group.row
        .col-sm-4
          = addr_form.label :state
        .col-sm-8
          .col-sm-8
            = addr_form.text_field :state, class: "form-control col-sm-8"
      .form-group.row
        .col-sm-4
          = addr_form.label :zip_code
        .col-sm-8
          .col-sm-8
            = addr_form.text_field :zip_code, class: "form-control col-sm-8"
    .row
      .col-sm-4
        .btn
          = user_form.submit "Update"
        .btn
          = link_to "Back", url_for(:back)
